
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 150px;
}
.resume-container {
    display: flex;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px black (0, 0, 0, 0.1);
}
.left-section {
    background-color: rgb(43, 39, 39);
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid rgb(216, 112, 185);
    background-image: url('borders2.jpg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.9; 
}
.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 3px solid rgb(103, 9, 103);
    margin-bottom: 20px;

}
h1 {
    font-size: 24px;
    margin:10px 0;
    margin-bottom: 30px;
    text-align: center;
}
h3{
    font-size: 18px;
    padding: 2%;
    margin:20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px purple;
    margin-top: 5%;
    margin-bottom: 5%;
}
ul {
    list-style-type:square;
    padding: 10;
    margin: 10px 0;
}
ul li {
    margin: 5px 0;
}

.right-section {
    padding: 20px;
    width: 65%;
}
button {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    box-shadow: 0 0 15 px black;
    cursor:pointer;
    margin-top: 10px;
    font-size: 18px;
}
button:hover {
    background-color: rgb(190, 99, 220);
    
}

#personal-info p i {
    color: #d870b9; 
    margin-right: 8px;
}
button:hover {
    background-color: rgb(190, 99, 220);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.profile-picture:hover {
    box-shadow: 0px 4px 8px rgba(216, 112, 185, 0.4);
}